{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle réservation"</h1>

    {{ include('reservation/_form.html.twig') }}

   
{% endblock %}
